{% extends 'base.html.twig' %}

{% block title %}
<title>HOST!</title>
<link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>ðŸŒ»</text></svg>">
{% endblock %}

{% block body %}
<style>
body{
background-image: url("https://i.pinimg.com/564x/b9/fe/6e/b9fe6ea15d485823f97218d640d7bf06.jpg");
color: #D2691E;
/*-webkit-text-stroke-width: 2px;*/
text-align: center;
}

h1{
color: #FFA500;
-webkit-text-stroke-width: 3px; 
}

a{
-webkit-text-stroke-width: 1px;
color: #D2691E; 
border: 2px solid #D2691E;
}
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div class="example-wrapper">
    <h1>| {{Titulo}} |ðŸ‘‹</h1>
    <p>{{dump(Saludo)}}</p>

    <img src="https://i.pinimg.com/564x/99/a7/2a/99a72a39d9efe8317ab50355505216ee.jpg"
        alt="ðŸˆ" width="200" height="210" align="center"/>

    <h1>ðŸŒ»Paginas de WEB's:ðŸŒ»</h1>
    <ul>
        <a href="/page/10">ðŸŸ¡Pagina n.10</a>
        {#<img src="https://i.pinimg.com/564x/cb/d5/2d/cbd52d6a7184cc12771a9e141ab3b13d.jpg" width="100" height="100">#}
        <a href="/page/20">ðŸŸ¡Pagina n.20</a>
        {#<img src="https://i.pinimg.com/236x/b0/84/bb/b084bbc6ad6b8ce6448feb10a0acc047.jpg" width="100" height="100">#}
        <a href="/page/30">ðŸŸ¡Pagina n.30</a>
        {#<img src="https://i.pinimg.com/236x/a1/ed/af/a1edafd775bd499344c5e6fc13a76d1d.jpg" width="100" height="100">#}
    </ul>
</div>
{% endblock %}