{% extends 'base.html.twig' %}

{% block title %}
<title>ERROR!</title>
<link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>游린</text></svg>">
{% endblock %}

{% block body %}

<style>
c{
color: #ff0000;
-webkit-text-stroke-width: 3px; 
}
</style>

    <h1>游뚿 Page not found <c>GENERAL</c> 游뚿</h1>

    <p>No se pudo ubicar la p치gina solicitada. Mala conexi칩n al URL
        o falta de logica: <a href="{{ path('app_host') }}">Regrese a la p치gina de inicio</p>
{% endblock %}